<?xml version="1.0" encoding="utf-8"?>
<launch>

  <arg name="robot" default="walrus"/>
  <arg name="static" default="false"/>

  <arg name="save_all_detection_data" default="true"/>
  <arg name="publish_all_detection_data" default="false"/>

  <arg name="camera_name" default="realsense_front"/>
  <arg name="camera_image_name" default="color"/>

  <arg name="base_frame" default="$(arg robot)/base_link"/>
  <arg name="world_frame" default="$(arg robot)/map"/>
  <arg name="camera_frame" default="$(arg robot)/$(arg camera_name)_$(arg camera_image_name)_optical_frame"/>

  <node pkg="pointcloud_processing" type="object_pose_estimation" name="object_pose_estimation" output="screen">
    <rosparam command="load" file="$(find object_detection)/config/$(arg robot).yaml" />
    <param name="map_frame" value="$(arg world_frame)"/>
    <param name="robot_frame" value="$(arg base_frame)"/>
    <param name="camera_optical_frame" value="$(arg camera_frame)"/>
    
    <param name="save_all_detection_data" value="$(arg save_all_detection_data)"/>
    <param name="publish_all_detection_data" value="$(arg publish_all_detection_data)"/>
    
    <remap from="camera_info" to="$(arg camera_name)/$(arg camera_image_name)/camera_info"/>
    <remap from="bounding_boxes" to="darknet_ros/bounding_boxes"/>
    <remap from="pointcloud" to="lidar_points"/>
    <remap from="image_snapshot" to="image_snapshot/send_snapshot"/>
  </node>

</launch>
