<?xml version="1.0" encoding="utf-8"?>
<launch>

    <node pkg="pointcloud_processing" type="target_pose_estimation" name="target_pose_estimation" output="screen">
      <rosparam command="load" file="$(find target_detection)/config/pose_estimation.yaml" />
      <remap from="~camera_info" to="/camera/color/camera_info"/>
      <remap from="~bounding_boxes" to="/darknet_ros/bounding_boxes"/>
      <remap from="~pointcloud" to="/walrus/lidar_points"/>
    </node>

</launch>
